/* Set of colors */
:root {
  /* --accent-color: #2196f3; */

  /* --first-icon-color: #afb1b8; */
  /* --second-icon-color: #ffffff; */
  /* --third-icon-color: rgba(255, 255, 255, 0.1); */

  /* --header-border-color: #ececec; */
  /* --cards-border-color: #eeeeee; */

  /* --first-title-color: #ffffff; */
  /* --second-title-color: #212121; */
  /* --third-title-color: #000000; */
  /* --fourth-title-color: #757575; */

  /* --first-text-color: #757575; */
  /* --second-text-color: #ffffff; */
  /* --third-text-color: rgba(255, 255, 255, 0.6); */

  /* --first-bg-color: #ffffff; */
  /* --second-bg-color: #e5e5e5; */
  /* --third-bg-color: #f5f4fa; */
  /* --fourth-bg-color: #2f303a; */
  /* --hero-bg-color: #c4c4c4; */
  /* --fifth-bg-color: #757575; */

  /* --first-btn-color: #2196f3; */
  /* --second-btn-color: #188ce8; */
  /* --third-btn-color: #f5f4fa; */

  --section-padding-size: 94px;
  --photo-gap-size: 30px;
  --card-gap-size: 30px;
  --footer-padding-size: 60px;

  --bg-color-opacity: rgba(46, 47, 59, 0.8);

  --cards-bg-color: hwb(207 13% 5% / 0.902);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* --modal-backdrop-color: rgba(0, 0, 0, 0.2); */
}

/* -----Modal window form----- */

/* ---------------------Main part of portfolio page----------------------- */
/* -----Buttons line----- */

/* works examples sheet */
