.hero {
  text-align: center;

  &__image {
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    height: 600px;
    max-width: 1600px;
    background-color: getColor('hero-background');
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img.jpg);
    background-size: cover;
    background-position: center;
  }

  &__title {
    margin: 0 auto 30px auto;
    max-width: 696px;

    @include font-style(900, 44px, 0.06em, 1.36);
    text-transform: uppercase;
    color: getColor('primary');
  }
}
