.adress {
  &__item {
    @include font-style(null, 14px, 0.03em, 1.71);
    color: getColor('primary');
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: inherit;
    font-style: normal;

    @include transition-function(color);
  }

  &__link:hover,
  &__link:focus {
    color: getColor('accent');
  }

  &__link--colored {
    color: rgba(getColor('primary'), 0.6);
  }
}
