.contacts {
  display: flex;

  @include font-style(500, 14px, 0.02em, 1.14);

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: inherit;

    @include transition-function(color);
  }

  &__link:hover,
  &__link:focus {
    color: getColor('accent');
  }

  &__icon {
    vertical-align: middle;
    fill: currentColor;
    margin-right: 10px;
  }
}
